<h3>Welcome to DataGenerator: a happy world full of data,generators and many other. Let us surprise you!</h3>
<h4>If you want to join us, please fill the form below with your connection details:</h4>
<form method="POST" action="/list.php">
    <input type="text" name="dbHost" value="maybeLocalhost" placeholder="Database host" />
    <input type="text" name="dbName" value="undefined" placeholder="Database name" />
    <input type="text" name="dbUser" value="JohnDoe" placeholder="Database user" />
    <input type="text" name="dbPass" value="superSecret" placeholder="Database pass" />
    <input type="hidden" name="action" value="1" />
    <button type="submit">Connect</button>
</form>
